---
layout: default
title: GitLab for Enterprise - Collaboration made easy
description: "Accelerate Enterprise software delivery with the GitLab DevOps Platform, lowering your development costs and streamlining team collaboration"
canonical_path: "/enterprise/"
image_title: '/images/enterprise/open-graph-enterprise.png'
twitter_image: "/images/enterprise/open-graph-enterprise.png"
disable_default_styles: true
disable_fontawesome: true
disable_tinyslider: true
disable_handbook_styles: true
suppress_header: true
data_identifier: Enterprise
feature_list_title: "How does GitLab help these companies become more productive, efficient and effective?"
feature_list_subtitle: "Our DevOps Platform improves a lot more than the bottom line."
extra_css:
  - enterprise.css
google_optimize: false
---

.container.container2020.mobile-text-center.no-padding-bottom-mobile#intro
  .row.u-padding-top-md.u-padding-bottom-0
    .col-md-6.u-padding-top-sm.u-margin-bottom-0
      .row
        .col-md-12.u-margin-bottom-sm
          %h1.u-margin-bottom-xxs GitLab for Enterprise
          %h3 One application, endless possibilities. Our DevOps Platform grows with you.
      .row.u-margin-bottom-xs
        .col-md-12
          %p.btn-height.u-margin-bottom-0.hero-content
            = link_to "Watch a demo", "/demo/", class: "btn orange cta-btn u-margin-right-0" 
            = link_to "Contact sales", "/sales/", class: "btn cta-btn btn-light"
        .mobile-adaptive-show-under-lg.slp-flex.slp-justify-center
          %img{src: "/images/enterprise/gitlab-enterprise-header-flow-mobile.png", alt: "Image: version control", loading: "lazy", style: "max-height: 362px;"}
      .row
        .col-md-12
          %p.u-margin-bottom-0.deepmhasized Trusted by enterprises, loved by developers.
      .row
        .col-md-12
          = image_tag "/images/customers/logo_ticketmaster_2_color.svg", alt: "Ticketmaster logo", loading: "lazy", class: "intro-organization-logo"
          = image_tag "/images/organizations/logo_siemens_color.svg", alt: "Siemens logo", loading: "lazy", class: "intro-organization-logo"
          = image_tag "/images/organizations/logo_equinix_2_color.svg", alt: "Equinix logo", loading: "lazy", class: "intro-organization-logo"
          = image_tag "/images/organizations/logo_nvidia_color.svg", alt: "NVIDIA logo", loading: "lazy", class: "intro-organization-logo"
    .col-md-6
      .mobile-adaptive-hide-under-lg
        %img{src: "/images/enterprise/gitlab-enterprise-header-flow-desktop.png", alt: "Image: version control", loading: "lazy", style: "max-height: 362px;"}

.container.container2020
  .row#ship-features-faster
    .container.slp-flex.slp-flex-col.slp-items-center
      = image_tag "/images/enterprise/tier_3_confetti.svg"
      %h2.text-align-center Speed. Efficiency. Trust.
      %p.text-align-center GitLab is the DevOps Platform that empowers organizations to maximize the overall return on software development by delivering software faster, more efficiently, while strengthening security and compliance.
      %img{src:"/images/enterprise/gitlab-enterprise-panel-lower-cost.png", alt: "Image: Gitlab Features", loading: "lazy", style: "width: 512px; max-width: 100%;"}
  .row.slp-mt-32
    .col-md-4.block-collaboration
      = image_tag "/images/enterprise/collaboration.svg", class: "slp-mb-8"
      %h3.text-align-center.slp-mb-8 Collaboration made easy
      %p.text-align-center Break down silos to coordinate seamlessly across development, operations, and security with a consistent experience across the development lifecycle.
    .col-md-4.block-feedback
      = image_tag "/images/enterprise/user_chat.svg", class: "slp-mb-8"
      %h3.text-align-center.slp-mb-8 Rapid feedback loops
      %p.text-align-center Remediate code quality issues and report changes in real-time with centralized reporting and a single view for both development and security.
    .col-md-4.block-lower-cost
      = image_tag "/images/enterprise/cog_code.svg", class: "slp-mb-8"
      %h3.text-align-center.slp-mb-8 Lower cost of development
      %p.text-align-center Simplify the software development toolchain to reduce total cost of ownership with a system that automatically scales to match performance and cost needs.

.row#free-gitlab-trial
  .container.container2020
    = partial "includes/components/cta-trial"

.row#customers
  .container.container2020
    = partial "includes/components/customer-highlight-trio"

.row#how-does-gitlab-help.highlight-gray.flattop
  .u-padding-top-md.u-padding-bottom-md
    .container.container2020
      = partial "includes/components/feature-list"

.row#ask-us-anything
  .u-padding-top-md
    .container.container2020
      = partial "includes/components/cta-contact"

